.chat-container {
  background-color: #e4eff0;
  height: 100vh;
  border-radius: 20px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}

.chat-title {
  margin-bottom: 2rem;
  padding: 2rem;
  text-align: center;
  font-weight: bold;
  color: #1976d2;
}
.message-box {
  //scroll
  overflow-y: auto;
  padding: 10px 15px;
  border-radius: 20px;
  word-break: break-word;
  background-color: #e4eff0;

  // green color for sent messages
  &.sent-message {
    background-color: rgba(36, 175, 83, 0.878);
    color: #fff;
}

  // blue color for received messages
  &.received-message {
    background-color: #2a5c8d;
    color: #f8f5f5;
  }
}

.chat-stack {
  height: calc(100vh - 150px);
  justify-content: space-between;
}

.form-box {
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}


/*
//with the toggle button
.chat-container {
  background-color: var(--background-color);
  color: var(--text-color);
}

.send-button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
}
*/