:root {
  --background-color: #c7e6e0fa; 
  --text-color: #2f6d7a;
  --button-bg-color: #2f6d7a;
  --button-text-color: #fff;
  --box-bg-color: #c7e6e0fa; 
  --big-box-bg-color: #379e7f69; 
}
.dark-mode {
  --background-color: #455a64; 
  --text-color: #fff; 
  --button-bg-color: #2ecc71; 
  --button-text-color: #2f6d7a;
  --box-bg-color: #455a64; 
  --big-box-bg-color: #263238; 
}

// variables that will change according to dark/light mode in browser setting
.chat-container, .register-box {
  background-color: var(--background-color);
}

.chat-title, .typography {
  color: var(--text-color);
}

.send-button, .button { // Adjust your button class name accordingly
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
}

.box {
  background-color: var(--big-box-bg-color);
}