:root {
    --background-color-light: #ffffff;
    --text-color-light: #000000;
    --background-color-dark: #121212;
    --text-color-dark: #ffffff;
  }
  
  //light mode
  [data-theme='light'] {
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
  }
  //dark mode
  [data-theme='dark'] {
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  