.chat-container {
  background-color: #e4eff0;
  height: 100vh;
  border-radius: 20px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}

.chat-title {
  margin-bottom: 2rem;
  padding: 2rem;
  text-align: center;
  font-weight: bold;
  color: #1976d2;
  font-family: fantasy; 
  letter-spacing: 4px;
}

.chat-stack {
  height: calc(100vh - 150px);
  justify-content: space-between;
}

.message-box {
  overflow-y: auto;
  padding: 2rem;
  flex-grow: 1;
}

.form-box {
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
