.paper {
    max-width: 60%;
    padding: 10px 15px;
    margin: 10px auto;
    background-color: #d3ede0;
    border-radius: 20px;
    word-break: break-word;
  }
  
  .caption {
    display: block;
    text-align: right;
  }
  