.register-container {
  height: 100vh; /* Adjust height to fill the entire viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cfe8fc; /* Light blue background color */
}

.register-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e4eef7;
  padding: 2rem; /* Reduce padding for better appearance */
  border-radius: 10px;
  gap: 2rem;
}

.register-title {
  font-weight: 600;
  margin-bottom: 2rem;
  color: #2196f3;
}
